# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Exported files
*.pdf
Gerbers/*

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# BOM files
*.xml
*.csv

# Image files
*.png
